custom-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dialog-form{
  display: flex;
  flex-direction:  column;
  height: 100%;
}

.dialog-img{
  width: 100%;
  height: 320px;
}
.dialog-img img{
  width: 100%;
  height: 100%;
}
.dialog-food-desc-merge{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px 40px 0px 40px;
}
.dialog-food-desc-merge h1{
  margin: 0px;
  margin-top: 20px;

  width: 100%;
  height: 10%;
  color: #333;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 35% */
}

.dialog-food-desc{
  margin: 0px;
  max-height: 20%;
  color: grey;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 132.353% */

}

.dialog-food-price{
  margin: 0px;
  margin-top: 15px;
  height: 10%;
  color: #333;
  font-family: Poppins;
  font-size: 25px;
  font-style: Bold;
  font-weight: 700;
  line-height: 22.4px; /* 46.667% */
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}


.dialog-placeorder{
  position: fixed;
  width: 640px;
  height: 100px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}


.placeholder-variation{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.placeholder-variation button{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4500;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 30px;
}

.placeholder-variation p{
  font-size: 30px;
  margin: 0px 10px 0px 10px;
}

.dialog-placeorder .placeholder-addtocart{
  display: flex;
  width: 50%;
  height: 80%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FF4500;
  border: none;
  color: var(--Gray-6, #F2F2F2);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.4px; /* 50.909% */
}

