

<div class="dialog-form">
    <div class="dialog-img">
        <img [src]="data.food.img" alt="{{ data.food.name }}">
    </div>
   <div class="dialog-food-desc-merge">
    <h1>{{ data.food.itemName }}</h1>
    <p class="dialog-food-desc">{{ data.food.itemDescription }}</p>
    <p class="dialog-food-price">MYR {{ data.food.itemPrice.toFixed(2) }}</p>
   </div>
   
   
   
  
</div>
<div class="dialog-placeorder" >
    <div class="placeholder-variation">
        <button (click)="decreaseQuantity()">&#8722;</button>
    <p>{{ quantity }}</p>
    <button (click)="increaseQuantity()">+</button>
    </div>
    <button class="placeholder-addtocart" (click)="addToCart()">Add to Cart</button>
</div>
