<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="orderdetails.component.css">
    <title>Order Details</title>
</head>
<body>
    <div class="order-details-container">
        <div class="help-btn">
            <button>Help</button>
        </div>
        <div class="logo-container">
            <img src="assets/img/orderdetail/logo3.png" alt="">
        </div>
        <div class="order-title">
            Order #eg1234 <!-- need to get order id-->
        </div>
        <div class="order-details-words">
            Picked up on 23 Oct, 12:55:23 <!-- need to get order time-->
        </div>
        <div class="background-picture-container">
             <img src="assets\img\restaurantimg\merchantimg.jpg" alt="" class="background-picture">
        </div>
        <div style="margin: 20px;">
            <div class="order-address-container">
                <div class="order-address-icon">
                    <img src="assets\img\locationicon.png">
                </div>
                <div class="order-address-details">
                    Order from <br>
                    <div style="color: #FF4500;font-weight: 600;">Starbucks (Sunway University)</div>
                    Mezzanine Floor, 5, Jalan Universiti, Bandar Sunway, 47500 Petaling Jaya, Selangor
                </div>
            </div>
            <hr>
            <div class="order-item-container">
                <div class="order-item-num">
                    1X
                </div>
                <div class="order-item-name">
                    Iced Caramel Macchiato
                </div>
                <div class="order-item-price">
                    RM 19.90
                </div>
            </div>
            <hr>
            <div class="order-total-container">
                <div class="order-total-details">
                    Subtotal 
                </div>
                <div class="order-total-price">
                    MYR 19.60 
                </div>
            </div>
            <div class="order-total-container">
                <div class="order-total-details">
                    Container/Processing Fee 
                </div>
                <div class="order-total-price">
                    MYR 1.00
                </div>
            </div>
            <div class="order-total-container">
                <div class="order-total-details">
                    Including Service Tax 
                </div>
                <div class="order-total-price">
                    MYR 1.17
                </div>
            </div>
            <div class="order-total-container" style="margin-top: 50px;">
                <div class="order-total-details">
                    <b>Total</b>(incl.VAT)
                </div>
                <div class="order-total-price">
                    <b>MYR 20.60</b>
                </div>
            </div>
            <hr>
            <div class="order-paid-words">
                <b>Paid with</b>
            </div>
            <div class="order-paid-container" style="margin-top: 50px;">
                <div class="order-paid-details">
                    Sunway Student Card
                </div>
                <div class="order-paid-price">
                    MYR 20.60
                </div>
            </div>
            <hr>
            <div class="order-suggest-words">
                <b>How was your meal?</b>
            </div>
            <div class="order-suggest-sentences" >
                We're hungry for your thoughts! <br>
                How was your latest meal from Starbucks (Sunway University)?
            </div>
            <div class="order-suggest-container">
                <div class="order-picture">
                    <img src="assets\img\staricon.png"><br>
                    <img src="assets\img\peoplestar.png">
                </div>
                <div class="order-suggest-words">
                    Tell others about your experience with Starbucks (Sunway University) <br>
                    <textarea placeholder="Share your review and help Starbucks (Sunway University) keep dishing out the best flavours."></textarea>
                    <div class="send-btn">
                        <button >Send</button>
                    </div>
                    
                </div>
            </div>


            


        
        </div>



        
        
    </div>   
</body>
</html>
