<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="merchantadditem.component.css">
    <title>Document</title>
</head>
<app-merchant-header>
    
</app-merchant-header>
<div class="searchbar-img">
    <img src="assets/img/merchant/additem.jpg" alt="" class="indeximage">
    <div class="search-box">
        <div>
            <h1>Add Item</h1>
        </div>
    </div>
</div>
<body>
    <div class="add-product-container">
        <div class="product-details-container">
            <div class="product-picture">
                <img src="assets\img\burger.png" alt="">
                <input type="file" id="img" name="img" accept="image/*" style="border: none;" [(ngModel)]="itemImg">
            </div>
            <form class="product-details" >
                Name<br>
                <input type="text" [(ngModel)]="itemName" name="itemName" required><br>
                Description<br>
                <input type="text" [(ngModel)]="itemDescription" name="itemDescription" required><br>
                Price<br>
                <input type="number" [(ngModel)]="itemPrice" name="itemPrice" required><br>
                Category<br>
                <input type="text" [(ngModel)]="itemCategory" name="itemPrice" required><br>
                <div class="send-btn">
                  <button  (click)="addItem()">Send</button>
                </div>
              </form>  
        </div>
    </div>
    
</body>
</html>
