<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="merchantadditem.component.css">
    <title>Document</title>
</head>

<app-merchant-header></app-merchant-header>


<body>
    <div class="indeximage">    
        <h1>Add Item</h1> 
        <div class="product-details-container">
          <div class="product-picture">
            <h1 style="font-size: 20px; color: #232323;" *ngIf="itemImgSrc == null">Please select an image</h1>
            <img [src]="itemImgSrc" alt="" *ngIf="itemImgSrc">
            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
           
          </div>
            <form class="product-details" >
                Name<br>
                <input type="text" [(ngModel)]="itemName" name="itemName"  maxlength="30" ><br>
                Description<br>
                <input type="text" [(ngModel)]="itemDescription" name="itemDescription"  maxlength="200" ><br>
                Price<br>
                <input type="number" [(ngModel)]="itemPrice" name="itemPrice"><br>
        
                <label for="itemCategory">Category</label>
                <input list="categories" [(ngModel)]="itemCategory" name="itemCategory" placeholder="Enter or select category">
                <datalist id="categories">
                  <option *ngFor="let category of existingCategories" [value]="category">{{ category }}</option>
                </datalist>
                
               
                <br>
                <div class="send-btn">
                    <button  (click)="addItem()">Send</button>
                </div>
            </form>  
        </div>
    </div>  
  
</body>
</html>
