body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: sticky;
    top: 0px;
    background-color: #FFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


header img{
    width: 20%;
    height: 100px;
    padding-left: 50px;
}

.add-product-container{
    width: 100%; /* Adjust the width to occupy the full width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-merge{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
}
.nav-merge-a{
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}
.nav-merge a{
    padding: 0px 20px 0px 20px;
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 74.667% */
    cursor: pointer;
}

.nav-merge a:hover{
    color: #FF4500;
    
}

.search-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Occupy the full width of the .indeximage container */
    height: 100%; /* Occupy the full height of the .indeximage container */
    color: #fff; /* Text color for the search box */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   
    
}

.search-box h1 {
    display: flex;
    width: 764px;
    height: 700px;
    flex-direction: column;
    flex-shrink: 0;
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-style: light;
    font-weight: 410;
    line-height: 22.4px; /* 46.667% */
    padding-left: 55px;
}

.searchbar-img {
    /* Remove position: relative; */
    position: relative
}

.indeximage {
    max-width: 100%;
    height: auto;
    display: block; /* Add display: block; to remove any default bottom margin */
}



.product-details-container{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
}

.product-details-container .product-picture{
    width: 25%;
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #333333;
    margin-left: 220px;
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.662); /* Add a background color to make the form readable */
    padding: 20px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;

}

.product-details-container .product-details{
    width: 30%;
    height: 68%;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #333333;
    margin-left: 270px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Add a background color to make the form readable */
    padding: 20px;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

.product-details-container img{
    width: 80%;
    height: 80%;
}

.add-product-picture-btn{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #FF4500;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    color: #FFFDF4;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 0%;
    margin-top: 30px;
}

input{
    height: 15px;
    border-radius: 15px;
    width:auto;
    padding: 10px;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;


}

.send-btn button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #FF4500;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    color: #FFFDF4;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.product-details-container .send-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
    

