<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="merchantadditem.component.css">
    <title>Document</title>
</head>

<app-merchant-header></app-merchant-header>


<body>
    <div class="indeximage">    
        <h1>Add Item</h1> 
        <div class="product-details-container">
          <div class="product-picture">
            <img src="assets\img\burger.png" alt="">
            <!-- Add the [(ngModel)] binding to itemImg -->
            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg">
          </div>
            <form class="product-details" >
                Name<br>
                <input type="text" [(ngModel)]="itemName" name="itemName"  maxlength="30" ><br>
                Description<br>
                <input type="text" [(ngModel)]="itemDescription" name="itemDescription"  maxlength="100" ><br>
                Price<br>
                <input type="number" [(ngModel)]="itemPrice" name="itemPrice"><br>
                Category<br>
                <input type="text" [(ngModel)]="itemCategory" name="itemPrice"  maxlength="30" ><br>
                <div class="send-btn">
                    <button  (click)="addItem()">Send</button>
                </div>
            </form>  
        </div>
    </div>  
  
</body>
</html>
