<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<app-merchant-header></app-merchant-header>
<body>
    <div class="merchant-merge">
        <div class="merchant-img">
            <img src="assets/img/restaurantimg/merchantimg.jpg" alt="">
            <div class="total-sales">
                <div class="total-sales-merge">
                    <h1>Total sales today</h1>
                    <p>MYR XX.XX</p>
                </div>
                
            </div>
            <h1 class="merchant-name">Merchant Name</h1>
        </div>
        <div class="order-stats">
            <h1>X pending orders | X completed orders</h1>
        </div>
        <div class="merchant-menu">
            <button routerLink="/orderpreparingpage" routerLinkActive="active">
                <img src="assets/img/order.png" alt="">
                <h1>Orders</h1>
            </button>
            <button routerLink="/merchanteditmenu" routerLinkActive="active">
                <img src="assets/img/burger2.png" alt="">
                <h1>Menu</h1>
            </button>
        </div>
    </div>
</body>
</html>
