<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="button-overlay">
        <img class="merchantimage" src="assets/img/Chef Cooking_MerchantMainPage.png" alt="the chef is cookin" >
        <button class="registerbuttonstyle">Register Now</button>    
        <h2 class="text-overylay">List your restaurant<br> on Sunway Nom² today.</h2> 
    </div>
    <div>
        <h2 class="txt_centre">Sunway Nom² brings<br>new opportunities</h2>
    </div>
    <div class="container">
        <div class="a">
            <img class="img0" src="\assets\img\ConnectWithNewCustomers.png" alt="connect customer" >
            <div>
            <h3><b>Connect With New Customers</b></h3>
            </div>
            <div>
            <p>Adding your business to the platform<br>means access to thousands of<br>customers in Sunway University.</p>
            </div>
        </div>
        <div class="adjustcontent">
            <img class="img1" src="\assets\img\Unlock Revenue.png" alt="get profit" >
            <div>
            <h3 class="adj"><b>Unlock Revenue</b></h3>
            </div>
            <div>
            <p>Let customers enjoy your business<br>anytime and capture the interest of<br>new ones who haven’t tried it yet.</p>
            </div>
        </div>
        <div>
            <img class="img" src="\assets\img\Waiters-rafiki 1.png" alt="get profit" >
            <div>
            <h3><b>Focus On Your Business</b></h3>
            </div>
            <div>
            <p>We take care of all the payments and<br>customer support. Leaving you to<br>focus on what matters!</p>
            </div>
        </div>
    </div>
    <div class="platform">
        <h6>OUR PLATFORM</h6>
    </div>
    <div class="platform1">
        <h3>We make it simple and easy</h3>
    </div>

    <div class="container">
        <div class="aj">
            <span class="step-number">1</span>
            <div class="step-details">
              <h2>Customers Order</h2>
              <p>The customer places an order through<br>the Sunway Nom² website.</p>
            </div>
        </div>
        <div class="adjj">
            <span class="step-number">2</span>
            <div class="step-details">
              <h2>You Prepare</h2>
              <p>You will receive a notification to start<br>preparing the order.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="aj1">
            <span class="step-number">3</span>
            <div class="step-details">
              <h2>Customers Order</h2>
              <p>The customer places an order through<br>the Sunway Nom² website.</p>
            </div>
        </div>
        <div class="adjj">
            <span class="step-number">4</span>
            <div class="step-details">
              <h2>Watch Your Business Grow</h2>
              <p>We provide you with customers’ feedback<br>so you can keep track of your performance.</p>
            </div>
        </div>
    </div>
</body>
</html>
