<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="merchantregister.component.css">
    <title>Document</title>
</head>
<body>
    <div class="merchant-register-background">
        <div class="merchant-register-container">
            <div class="title">
                Partner with <br>
                Sunway Nom^2 
            </div>
            <div class="description">
                We need just a little information about your business to get you up and running with us.
            </div>
            <div class="description" style="font-size: 15px;">
               <b> Do you have an SSM Business Registration Number? (E.g. 201901000005)</b>
            </div>
            <div class="description">
                SSM is defined as The Companies Commission of Malaysia or Suruhanjaya Syarikat Malaysia. For more information please refer here. We'll verify your business online to make things quick and easy.
            </div>
            <form>
                <div class ="yes_no">
                    <input type="radio" name="yes_no">Yes<br><br>
                    <input type="radio" name="yes_no">No
                </div>
                <button class="next-btn">Next</button>
            </form>
        </div>
    </div>
    <div class="get-started-word">
        Let's get started
    </div>
    <div class="started-details-container">
        <div class="started-details">
            <img src="assets\img\merchant\checklist.png">
            <div class="text-title">
                Submit your details
            </div>
            <div class="text">
                We'll contact you within a week.
            </div>         
        </div>
        <div class="started-details">
            <img src="assets\img\merchant\catagory.png">
            <div class="text-title">
                Submit your catalogue
            </div> 
            <div class="text">
                We'll furnish your digital storefront.
            </div> 
        </div>
        <div class="started-details">
            <img src="assets\img\merchant\money.png">
            <div class="text-title">
                Start Selling
            </div> 
            <div class="text">
                Reach thousands of highly-engaged users.
            </div> 
        </div>
    </div>

    
</body>
</html>