<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Document</title>
</head>
<header></header>
<body>
   <div class="login-container">
    <div class="login-form">
        <div class="login-header">
            <h1>Login</h1>
            <p>Welcome back to Sunway Nom². Please enter your details .</p>
        </div>
        <div class="login-form-cotainer">
            <input type="email" name="" id="" placeholder="Email"  [(ngModel)]="email" class="login-form-cotainer-email">
            <input type="password" name="" id="" placeholder="Password" [(ngModel)]="hashedpassword">
        </div>
        <div class="forgot-pass">
            <a  routerLink="/forgotpass" routerLinkActive="active">Forgot Password ?</a>
        </div>
        <div class="submit-btn">
            <button (click)="login()">Login</button>
        </div>
        <div class="Gmail-login">
            <button><img src="assets/img/googlelogo.png" alt="" style="width: 28px; height: 28px; padding-right: 15px;">Login with Google</button>
        </div>
        <div class="register-acc" >
            <p>Don't have an account ?  <a routerLink="/signup" routerLinkActive="active">Sign up</a></p>
        </div>
            <img src="assets/img/merchant/group80.svg" alt="">
    </div>
    <div class="login-bg">
        <img src="assets/img/loginbg.png" alt="">
    </div>
   </div>
    
</body>
</html>
