<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="aboutus.component.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <div class="about-container">
            <section class="company-description">
                <h2>Our Platform</h2>
                <p>Sunway Nom² is a go-to website for students at Sunway University to conveniently order food for pick-up and dine-in. We've carefully curated all your favourite dishes, catering to every taste bud and craving. From hearty breakfast options like Hashbrown Sandwich from Bite & Taste to satisfying lunches with flavoursome 
                    Aglio Olio from Daun-Daun, from a quick brunch pick-me-up with a cup of Kopi to delightful teatime featuring Waffles and Kaya Ball from Tomyam Kitchen – we've got it all! <br><br>With our easy-to-use platform, you can access a wide selection of mouth-watering dishes from our partner restaurants right on campus. Whether you're studying late at the library, hanging out with friends, or simply want to enjoy a tasty meal, Sunway Nom² is here to satisfy your hunger quickly and conveniently. Say goodbye to long lines and waiting times – order your favourite cuisines in just a few taps and savour the flavours you love.
                    <br><br>Don't waste time waiting for your food. Experience the fastest way to enjoy your meals on campus with Sunway Nom², your ultimate dine-in and pick-up service designed exclusively for Sunway University students.<br><br></p>
            </section>

            <section class="team-members">
                <h2>Our Team</h2>
                <ul>
                    <li>Mr. Chiew Ste Ken  -  Developer</li>
                    <li>Mr. Long Chow Wai  -  Architect</li>
                    <li>Mr. Chin Zi Ming  -  Tester</li>
                    <li>Mr. Lee Kah Hoong  -  Designer</li>
                    <li>Mr. Chai Jing Hang  -  End-User</li>
                </ul>
            </section>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
</body>
</html>
