<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminmainpage.component.css">
    <title>Document</title>
</head>
<header>
    <img src="assets/img/logo1.svg" alt="">
    <div class="nav-merge">
        <a  routerLink="/admincuslist" routerLinkActive="active" style="text-decoration: none;">Customer</a>
        <a routerLink="/adminreslist" routerLinkActive="active" style="text-decoration: none;">Merchant</a>
        <a >{{adminUsername}}</a>
        <a href="" style="text-decoration: none;"> Logout</a>
    </div>
</header>
<body>
      <div class="admin-header">
        <h1>Admin Dashboard</h1>
      </div>
        <div class="admin-menu">
            
            <button routerLink="/adminreslist" routerLinkActive="active">
                <img src="assets/img/order.png" alt="">
                <h1>Search Merchants <br> & Customer</h1>
            </button>
            <button routerLink="/merchantregister" routerLinkActive="active">
                <img src="assets\img\orderdetail\orderdetailui.png" alt="" style="width:70%;">
                <h1>Merchant Registration</h1>
            </button>
        </div>
</body>
</html>
