<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="restaurant-detail.component.css">
</head>
<body>
    <div class="restaurant-container">
        <div class="restaurant-bgimg" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.00) 13.54%), linear-gradient(359deg, rgba(0, 0, 0, 0.70) 0.74%, rgba(0, 0, 0, 0.21) 42.39%), url('assets/img/restaurantbg.jpeg') center/cover no-repeat;">


        
            <div class="restaurant-bgimg-tittle">
                <h1>{{merchantName}}</h1>
            </div>
        </div>
       
        <div class="restaurant-breif-info">
            
            <div class="restaurant-breif-info-merging1">
                <p>Coffee · Sandwiches · Cakes · Desserts · Beverages</p>
                <a href="" >ⓘ More info</a>
                <div class="restaurant-breif-info-mergingdr">
                    <div class="restaurant-breif-info-duration">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.75em" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"  /></svg>
                        <p>{{merchantduration}} mins</p>
                    </div>
                    <div class="restaurant-breif-info-rating">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.75em" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg> 
                        <p>0.0</p>
                    </div>
                </div>
                
            </div>
          
        </div>
        <div class="restaurant-breif-info-merging2" id="sticky-header">
            <div class="restaurant-breif-info-search">
                <svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                <input type="text" [(ngModel)]="searchQuery" placeholder="Search in menu">
                <button class="searchQuery" *ngIf="searchQuery" (click)="clearSearchQuery()">X</button>
            </div>
            <div class="restaurant-breif-info-categories">
                <div class="categories-card"  (click)="scrollToCategory('Popular')">
                    <p>Popular</p>
                </div>
                <div class="categories-card" *ngFor="let c of foodfilter" (click)="scrollToCategory(c.name)">
                    <p *ngIf="hasItemsInCategory(c)">{{c.name}}</p>
                </div>
            </div>
        </div>
        <!-- clear when search -->
        <div *ngIf="!searchQuery" > 
            
            <div class="popular-header">
                <h1 id="Popular"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-4.5-9-16-9.6-22.5-2l-25.2 29.3c-6.6 7.6-18.5 7.4-24.7-.5c-16.5-21-46-58.5-62.8-79.8c-6.3-8-18.3-8.1-24.7-.1c-33.8 42.5-50.8 69.3-50.8 99.4C112 375.4 162.6 416 225.7 416z"/></svg> Popular</h1>
            </div>
            <div class="toppicks-container">
        
                <div class="prev-btn" >
                    <button (click)="prevCard()" #prevButton><svg xmlns="http://www.w3.org/2000/svg" width="41" height="44" viewBox="0 0 41 44" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7896 4L7 22L27.7896 40L33 35.5L17.3948 22L33 8.5L27.7896 4Z" fill="white"/>
                      </svg></button>
                </div>
                <div #categoriesCard class="restaurant-toppicks-container">
                    
                    <div  class="restaurant-toppicks-container-card">
                        
                        <div *ngFor="let type of getTop5FoodCategories()" (click)="openDialog(type)" class="restaurant-toppicks-container-innercard" style="
                        background: linear-gradient(359deg, rgba(0, 0, 0, 0.70) 0.74%, rgba(0, 0, 0, 0.21) 42.39%, rgba(0, 0, 0, 0.00) 99.45%), url({{type.itemImg}}), lightgray 50% / cover no-repeat;" >
                            <div class="restaurant-toppicks-container-innercard-desc">
                                <h1 class="food-title">{{type.itemName}}</h1>
                                <div class="restaurant-toppicks-container-innercard-pricing">
                                  <h1>MYR</h1>
                                  <h2>{{ type.itemPrice.toFixed(2) }}</h2>
                                </div>
                                <button>Order Now <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.005 4L17.005 12L9.005 20L7 18L13.005 12L7 6L9.005 4Z" fill="white"/>
                                  </svg></button>
                              </div>
                        </div>
        
                     
                    </div>
                </div>
                <div class="next-btn">
                    <button (click)="nextCard()" #nextButton >
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="44" viewBox="0 0 40 44" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2104 4L33 22L12.2104 40L7 35.5L22.6052 22L7 8.5L12.2104 4Z" fill="white"/>
                    </svg></button>
                </div>
            </div>  
            <ng-container *ngFor="let category of foodfilter">
              <div class="restaurant-list-container" *ngIf="hasItemsInCategory(category)">
                <h1 id="{{category.name}}">{{category.name}}</h1>
                <div class="food-list-container">
                  <div class="food-list-container-merging">
                    <div *ngFor="let food of availableItems">
                      <!-- Check if the current food item belongs to the current category -->
                      <div class="food-card" *ngIf="food.itemCategory === category.name" (click)="openDialog(food)">
                        <div class="foodimg">
                          <img [src]="food.itemImg" alt="">
                        </div>
                        <div class="food-card-title">
                          <div class="food-card-desc">
                            <h2>{{food.itemName}}</h2>
                            <h3>from</h3>
                            <p>MYR {{food.itemPrice.toFixed(2)}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            
              
              
        </div>
        <div *ngIf="searchQuery">
            <div class="food-list-container">
              <ng-container *ngIf="foodcategories | filterBySearch: searchQuery as availableItems">
                <div class="food-list-container-merging">
                  <div class="food-card" *ngFor="let food of availableItems" (click)="openDialog(food)">
                    <!-- Check if the current food item is available -->
                    <ng-container >
                      <div class="foodimg">
                        <img [src]="food.itemImg" alt="">
                      </div>
                      <div class="food-card-title">
                        <h2>{{food.itemName}}</h2>
                        <h3>from</h3>
                        <p>MYR {{food.itemPrice.toFixed(2)}}</p>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="no-results-message" *ngIf="availableItems.length === 0">
                  <img src="assets/img/searchnotfound.png" alt="">
                  <p>Search not found!</p>
                </div>
              </ng-container>
            </div>
          </div>
          
          
          
          
          
    
    </div>
    
</body>
</html>
