*{
    margin: 0px;
    padding: 0px;
    
}

.restaurant-container{
   width: 100%;
   height: auto;
   
}
.restaurant-bgimg {
    position: relative;
    font-family: Arial;
    width: 100%;
    height: 500px;
    margin-top: 100px;
  }
  .restaurant-bgimg-tittle{
    position: absolute;
    bottom: 50px;
    left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px; /* 35% */
  }





.restaurant-breif-info{
    width: 100%;
    height: 83px;
    box-shadow: 1px 9px 8px 1px rgba(0,0,0,0.22);
    -webkit-box-shadow: 1px 9px 8px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 9px 8px 1px rgba(0,0,0,0.22);
    
}

.restaurant-breif-info-merging1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.restaurant-breif-info-merging1 p{
    max-width: 60%;
    margin-left: 38px;
    color: #7C7C7C;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.4px; /* 93.333% */
}

.restaurant-breif-info-merging1 a{
    width: 20%;
    margin-left: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #FF4500;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 93.333% */
}

.restaurant-breif-info-mergingdr{
    width: 20%;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.restaurant-breif-info-duration{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.restaurant-breif-info-duration p{
    margin-left: 10px;
    padding-top: 4px;
}

.restaurant-breif-info-rating{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.restaurant-breif-info-rating p{
    margin-left: 10px;
    padding-top: 4px;
}
.restaurant-breif-info-merging2{
    width: 100%;
    height: 83px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 100px;
    background-color: white; /* Add a background color as needed */
    z-index: 100;
}

.restaurant-breif-info-search{
    width: 20%;
    height: 49px;
    border-radius: 20px;
    border: 2px solid var(--Gray-4, #BDBDBD);
    margin-left: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.restaurant-breif-info-search svg{
    fill: #FF4500;
    padding-left: 5px;
    width: 15%;
}

.restaurant-breif-info-search input{
    width: 85%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    color: #999;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 112% */
}

.restaurant-breif-info-search input[type = text]{
    color: #333;
}

.restaurant-breif-info-search input:focus{
    outline: none;
}

.restaurant-breif-info-categories{
    width: 80%;
    height: 100%;
    padding-left: 70px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.categories-card{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.categories-card :hover{
    
    border-bottom: 7px solid #F2C94C;
}

.categories-card p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 80% */
    text-decoration: none;
}






.popular-header{
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
}
.popular-header h1{
    
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: bolder;
    line-height: 60px; /* 133.333% */
}
.popular-header svg{
    fill: #FF0000;
    margin: 49px 0px 0px 60px;
}

.toppicks-container{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction:row;
    margin-top: 38px;
    
    
}

.restaurant-toppicks-container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    justify-content: space-between;
    transition: transform 0.3s ease ;
    scroll-behavior: smooth;
    cursor: pointer;
}

.toppicks-container .prev-btn{

    width: 91px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position:  absolute;
    z-index: 1;
}

.toppicks-container .prev-btn button{
    display: flex;
    width: 91px;
    height: 91px;
    padding: 24px 25px 23px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-left: 50px;
    
}

.toppicks-container .next-btn{
    margin-left: 95%;
    width: 91px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position:  absolute;
    z-index: 1;
    
   
}

.toppicks-container .next-btn button{
    display: flex;
    width: 91px;
    height: 91px;
    padding: 24px 25px 23px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-right: 50px;


    
}

.restaurant-container .restaurant-toppicks-container .restaurant-toppicks-container-card{
    width: auto;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    
    
}

.restaurant-toppicks-container-innercard{
    width: 400px;
    height: 484px;
    margin-left: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.restaurant-toppicks-container-innercard-desc{
    width: 80%;
    height: 40%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}


.restaurant-toppicks-container-innercard-desc .food-title{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 15px;
    height: 70px;
    display: flex;
    align-items: end;
}
.restaurant-toppicks-container-innercard-pricing{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}



.restaurant-toppicks-container-innercard-pricing h1{
    margin: 0px;
    color: var(--Yellow, #F2C94C);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-right: 10px;
}

.restaurant-toppicks-container-innercard-pricing h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
}

.restaurant-toppicks-container-innercard-desc button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    background-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 124.444% */
    border: none;
    margin-top: 20px;
    margin-bottom: 19px;
}



.restaurant-list-container{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}

.restaurant-list-container h1{
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
    margin-left: 100px;
}

.food-list-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 31px;
    flex-direction: column;
}

.food-list-container .food-list-container-merging{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30%;
    align-items: center;
    justify-content: center;
    gap:54px 103px ;
    margin-bottom: 10px;

}

.food-list-container-merging .food-card{
    width: 500px;
    height: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.food-list-container-merging .food-card .foodimg{
    width: 50%;
    height: 100%;
    margin: 0px;
    border-radius: 10px;
}

.food-list-container-merging .food-card .foodimg img{
    margin: 0px;
    width: 255px;
    height: 255px;
    border-radius: 10px;
   
}


.food-list-container-merging .food-card .food-card-title{
    width: 50%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.food-list-container-merging .food-card .food-card-title h2{
    color: #333;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 570;
    line-height: 30.4px; /* 65.882% */
    width: 100%;
}

.food-list-container-merging .food-card .food-card-title h3{
    color: var(--Yellow, #F2C94C);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px; /* 93.333% */
    margin-top: 25px;
}

.food-list-container-merging .food-card .food-card-title p{
    color: #333;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.4px;
    margin-top: 8px;
}

.no-results-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
    height: auto;
    align-items: center;
    justify-content: center; /* Adjust this to control the message's vertical position */
    text-align: center;
    font-size: 50px;
    color: #333;
    font-family: Poppins; /* Adjust the color as needed */
  }
  

  .searchQuery{
    border: none;
    background: transparent;
    color: red;
    font-family: Poppins;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 5px;
  }

