.header{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.header img{
    width: 250px;
    height: 100px;
    
}


.header .header-btn h1 {
    text-align: center;
    margin-left: 27px;
    margin-right: 27px;
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 97.391% */
    cursor: pointer;
}

.header .header-btn a {
    text-align: center;
    margin-left: 27px;
    margin-right: 27px;
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 97.391% */
    cursor: pointer;
    text-decoration: none;
}


.header .header-btn .header1 {
    margin-left: 74px;
    color: #FF4500;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 97.391% */
}
.header .header-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    
}

.header .header-btn .cart-btn{
    width: 25;
    height: 30.069px;
    border: none;
    background-color: transparent;
    margin-left: 37px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    
}
.header .header-btn .cart-btn span{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 10px;
    background-color: #FF4500;
    position: absolute;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0 ;
    color: var(--Gray-6, #F2F2F2);
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    line-height: 22.4px; /* 149.333% */
}

.header .header-btn .login-btn{
    display: flex;
    width: 168px;
    height: 57px;
    padding: 11px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    background: #FF4500;
    color: var(--Gray-6, #F2F2F2);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 149.333% */
    border: none;
    margin-left: 46px;
    margin-right: 40px;
    cursor: pointer;
    
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 57px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 93.333% */
    cursor: pointer;
    padding-left: 5px;
}


  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
  }
  
  .dropdown-content {
    margin-top: 1px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content .dropdown-btn h1{
    color: black;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
  }
  
  .dropdown-content .dropdown-btn h1:hover {color: #FF4500;}
  
  .dropdown:hover .dropdown-content ,
  .dropdown-content:hover {display: block;}
  
 