*{
    padding: 0px;
    margin: 0px;
   
}

.verification-container{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    
}

.verification-container .verification-form{

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.verification-container .verification-form .verification-header{
    width: 100%;
    height: 90px;
    margin-left: 70px;
    margin-bottom: 91px;
}

.verification-container .verification-form .verification-header h1{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

.verification-container .verification-form .verification-header p{
    width: 100%;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

 .verification-form .verification-form-cotainer{
    width: 80%;
    height: 100px;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.verification-container .verification-form .verification-form-cotainer form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.verification-container .verification-form .verification-form-cotainer input{
    width: 61.5px;
    height: 59px;
    flex-shrink: 0;
    margin-right: 15px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 7px 9px 18px 0px rgba(0, 0, 0, 0.06);
    color: #808080;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.verification-container .verification-form .forgotpass-form-container-name{
    margin-bottom: 30px;
}

.verification-container .verification-form .verification-form-cotainer-email{
    margin-bottom: 30px;
}

.verification-container .verification-form .verification-form-cotainer input::placeholder{
    color: #AAA;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 25px;

}

.verification-container .verification-form .forgot-pass{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.verification-container .verification-form .forgot-pass a{
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 79px;
    text-decoration: none;
}
   

.verification-container .verification-form .submit-btn{
    margin-top: 23px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.verification-container .verification-form .submit-btn button{
    border-radius: 6px;
    width: 80%;
    height: 100%;
    border: none;
    background: #FF4500;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    color: #FFFDF4;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}


.verification-container .verification-form .register-acc{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 20px;
    
}
.verification-container .verification-form .register-acc p{
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verification-container .verification-form .register-acc a{
    color: #FF4500;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}



.verification-container .verification-form img{
    height: 250px;
    width: 100%;
}

.verification-bg{
    width: 60%;
    height: 100%;
    margin-bottom: -4px;
    padding-bottom: 0px;
}

.verification-bg img{
    width: 100%;
    height: 100%;
    
}

