<header>
    <a routerLink="/merchantmain" routerLinkActive="active"><img src="assets/img/merchant/merchantlogo.svg" alt=""></a>
    <div class="nav-merge">
      <a  routerLink="/merchantmain" routerLinkActive="active" style="text-decoration: none;">Home</a>
        <a  routerLink="/orderpreparingpage" routerLinkActive="active" style="text-decoration: none;">Orders</a>
        <a  routerLink="/merchanteditmenu" routerLinkActive="active" style="text-decoration: none;">Menu</a>
        
        <ng-container *ngIf="authenticated; else loginButtonTemplate">
            <a>{{ merchantName }}</a>
            <a (click)="logout()" style="text-decoration: none;">Logout</a>
          </ng-container>
          <ng-template #loginButtonTemplate>
            <a [routerLink]="'/merchantlogin'" style="text-decoration: none;">Login</a>
          </ng-template>
    </div>
</header>