<header>
    <a routerLink="/merchantmain" routerLinkActive="active"><img src="assets/img/merchant/merchantlogo.svg" alt=""></a>
    <div class="nav-merge">
        <a  routerLink="/orderpreparingpage" routerLinkActive="active">Orders</a>
        <a>Menu</a>
        <ng-container *ngIf="authenticated; else loginButtonTemplate">
            <a>{{ merchantName }}</a>
            <a >Logout</a>
          </ng-container>
          <ng-template #loginButtonTemplate>
            <a [routerLink]="'/merchantlogin'">Login</a>
          </ng-template>
    </div>
</header>