*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

.signup-container .signup-form{

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.signup-container .signup-form .signup-header{
    width: 100%;
    height: 90px;
    margin-left: 61px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.signup-container .signup-form .signup-header h1{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

.signup-container .signup-form .signup-header p{
    width: 100%;
    color: #717070;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 121.429% */
}

 .signup-form .signup-form-cotainer{
    width: 80%;
    height: 250px;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    
}

.signup-container .signup-form .signup-form-cotainer input{
    height: 67px;
    border-radius: 6px;
    background: #FFFDF4;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    border: none;
}
.signup-container .signup-form .signup-form-container-name{
    margin-bottom: 30px;
}

.signup-container .signup-form .signup-form-cotainer-email{
    margin-bottom: 30px;
}

.signup-container .signup-form .signup-form-cotainer input::placeholder{
    color: #AAA;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 25px;

}

.signup-container .signup-form .forgot-pass{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.signup-container .signup-form .forgot-pass a{
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 79px;
    text-decoration: none;
}
   

.signup-container .signup-form .submit-btn{
    margin-top: 23px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.signup-container .signup-form .submit-btn button{
    border-radius: 6px;
    width: 80%;
    height: 100%;
    border: none;
    background: #FF4500;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    color: #FFFDF4;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.signup-container .signup-form .Gmail-signup{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.signup-container .signup-form .Gmail-signup button{
    width: 80%;
    height: 100%;
    border-radius: 6px;
    border: 3px solid #333;
    box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.signup-container .signup-form .register-acc{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 20px;
    
}
.signup-container .signup-form .register-acc p{
    color: #373737;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup-container .signup-form .register-acc a{
    color: #FF4500;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}



.signup-container .signup-form img{
    height: 250px;
    width: 100%;
}

.signup-bg{
    width: 60%;
    height: 100%;
    margin-bottom: -4px;
    padding-bottom: 0px;
}

.signup-bg img{
    width: 100%;
    height: 100%;
    
}

