<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.component.css">
    <title>Document</title>
</head>
<header></header>
<body>
   <div class="signup-container">
    <div class="signup-form">
        <div class="signup-header">
            <h1>Create an account</h1>
            <p>Experience the fastest way to enjoy your meals on campus with Sunway Nom².</p>
        </div>
        <div class="signup-form-cotainer">
            <input type="text" name="name" placeholder="Name" class="signup-form-container-name" [(ngModel)]="user.username">
            <input type="email" name="email" placeholder="Email" class="signup-form-cotainer-email" [(ngModel)]="user.email">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="user.hashedpassword">
          </div>
          <div class="submit-btn">
            <button (click)="registerUser()">Create account</button>
          </div>
        <div class="Gmail-signup">
            <button><img src="assets/img/googlelogo.png" alt="" style="width: 28px; height: 28px; padding-right: 15px;">Sign up with Google</button>
        </div>
        <div class="register-acc" >
            <p>Already have an account ? <a routerLink="/login" routerLinkActive="active">Log in</a></p>
           
        </div>
        
            <img src="assets/img/loginavatar.png" alt="">
        
    </div>
    <div class="signup-bg">
        <img src="assets/img/loginbg.png" alt="">
    </div>
   </div>
    
</body>
</html>
