*{
    margin: 0px;
    padding: 0px;
    
}

.restaurant-container{
   width: 100%;
   height: auto;
   
}

.restaurant-container img{
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.toppicks-container{
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction:row;
    margin-top: 90px;
    
    
}

.restaurant-toppicks-container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    transition: transform 0.3s ease ;
    scroll-behavior: smooth;
    cursor: pointer;
}

.toppicks-container .prev-btn{

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position:  absolute;
    z-index: 1;
}

.toppicks-container .prev-btn button{
    display: flex;
    width: 91px;
    height: 91px;
    padding: 24px 25px 23px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-left: 50px;
    
}

.toppicks-container .next-btn{
    margin-left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position:  absolute;
    z-index: 1;
    
   
}

.toppicks-container .next-btn button{
    display: flex;
    width: 91px;
    height: 91px;
    padding: 24px 25px 23px 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-right: 50px;


    
}

.restaurant-container .restaurant-toppicks-container .restaurant-toppicks-container-card{
    width: auto;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    
    
}

.restaurant-toppicks-container-innercard{
    width: 400px;
    height: 484px;
    margin-left: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.restaurant-toppicks-container-innercard-desc{
    width: 80%;
    height: 40%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}


.restaurant-toppicks-container-innercard-desc .food-title{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 15px;
    height: 70px;
    display: flex;
    align-items: end;
}
.restaurant-toppicks-container-innercard-pricing{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}



.restaurant-toppicks-container-innercard-pricing h1{
    margin: 0px;
    color: var(--Yellow, #F2C94C);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-right: 10px;
}

.restaurant-toppicks-container-innercard-pricing h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
}

.restaurant-toppicks-container-innercard-desc button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    background-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 124.444% */
    border: none;
    margin-top: 20px;
    margin-bottom: 19px;
}

.favcuisine-header{
    width: 100%;
    height: 69px;
    margin-top: 73px;
    
}

.favcuisine-header h1{
    padding-left: 100px;
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
}

.favcuisine-container{
    width: 100%;
    height: 189px;
    display: flex;
    flex-direction:row;
    margin-top: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.restaurant-favcuisine-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    transition: transform 0.3s ease ;
    scroll-behavior: smooth;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
   
    
}


.favcuisine-container .favcuisine-prev-btn{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position:  absolute;
    z-index: 1;
}

.favcuisine-container .favcuisine-prev-btn button{
    display: flex;
    width: 45.5px;
    height: 45.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-left: 50px;
    margin-bottom: 50px;
    
}

.favcuisine-container .favcuisine-next-btn{
    margin-left: 50%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position:  absolute;
    z-index: 1;
    
   
}

.favcuisine-container .favcuisine-next-btn button{
    display: flex;
    width: 45.5px;
    height: 45.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FF4500;
    border: none;
    margin-right: 50px;
    margin-bottom: 50px;
    
}

.favcuisine-container .restaurant-favcuisine-container .restaurant-favcuisine-container-card{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.restaurant-favcuisine-container-innercard{
    width: 150px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px 0px 50px;
}
.restaurant-favcuisine-container-innercard img{
    height: 123px;
    width: 124px;
    margin-top: 0px;
    border-radius: 30px;
  
}
.restaurant-favcuisine-container-innercard .restaurant-favcuisine-container-title{
    width: 100%;
    height: 20%;
    margin-top: 2px;
    color: #FFF;
    text-align: center;
    color: #333;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 65.882% */
}


.restaurant-list-container{
    width: 100%;
    height: 900;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.restaurant-list-container h1{
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
    margin-left: 100px;
}

.restaurant-list-container .restaurant-list-merging{
    width: 100%;
    height: auto; /* Let the height expand as needed */
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px 0px;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 40px;

}

.restaurant-list-merging .restaurant-card{
    width: 680px;
    height: 442px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin: 0px 58px;
    
}
.restaurant-list-merging .restaurant-card .restaurant-image{
    width: 680px;
    height: 80%;
    border-radius: 5px;
    margin-top: 0px;
}

.restaurant-list-merging .restaurant-card .restaurant-card-desc{
    width: 100%;
    height: 20%;
}

.restaurant-list-merging .restaurant-card .restaurant-card-desc .restaurant-card-desc-title{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.restaurant-list-merging .restaurant-card .restaurant-card-desc .restaurant-card-desc-title h1{
    margin: 10px 0px 0px 0px;
    color: #333;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    width: 70%;
    line-height: 22.4px; /* 62.222% */
    
}
.restaurantduration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
   
    
}
.restaurantduration svg{
   width: 50px ;
   height: 50px;
    
}
.restaurantduration p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 8px;
    height: 100%;
    width: 200px;
}

.restaurant-rating{
    fill: #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10%;
    height: 100%;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-right: 30px;
    margin-left: 15px;

 
}
.restaurant-rating p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 8px;
    height: 100%;
    
}

.religion{
    width: 100%;
    height: 30%;
}
.religion p{
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 93.333% */
}

.readmore-btn{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 70px;
}

.readmore-btn button{
    width: 35%;
    height: 64px;
    border: none;
    border-radius: 20px;
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px; /* 93.333% */
    border: 2px solid #333;
    
}
.show-less {
    display: none;
  }


.expand-list{
    width: 100%;
    background-color: #F2C94C;
    height: auto;
    overflow: hidden;
   
}


