<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="restaurant-list.component.css">
</head>
<body>
<div class="restaurant-container">
    <img src="assets/img/restaurantbg.jpeg" alt="">
    
    <div class="toppicks-container">

        <div class="prev-btn" >
            <button (click)="prevCard()" #prevButton><svg xmlns="http://www.w3.org/2000/svg" width="41" height="44" viewBox="0 0 41 44" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7896 4L7 22L27.7896 40L33 35.5L17.3948 22L33 8.5L27.7896 4Z" fill="white"/>
              </svg></button>
        </div>
        <div #categoriesCard class="restaurant-toppicks-container">
            
            <div  class="restaurant-toppicks-container-card">
                
                <div *ngFor="let type of foodcategories" class="restaurant-toppicks-container-innercard" style="
                background: linear-gradient(359deg, rgba(0, 0, 0, 0.70) 0.74%, rgba(0, 0, 0, 0.21) 42.39%, rgba(0, 0, 0, 0.00) 99.45%), url(assets/img/zus.jpg), lightgray 50% / cover no-repeat;" >
                    <div class="restaurant-toppicks-container-innercard-desc">
                        <h1 class="food-title">{{type.name}}</h1>
                        <div class="restaurant-toppicks-container-innercard-pricing">
                          <h1>MYR</h1>
                          <h2>{{ type.price }}</h2>
                        </div>
                        <button>Order Now <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.005 4L17.005 12L9.005 20L7 18L13.005 12L7 6L9.005 4Z" fill="white"/>
                          </svg></button>
                      </div>
                </div>

             
            </div>
        </div>
        <div class="next-btn">
            <button (click)="nextCard()" #nextButton >
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="44" viewBox="0 0 40 44" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2104 4L33 22L12.2104 40L7 35.5L22.6052 22L7 8.5L12.2104 4Z" fill="white"/>
            </svg></button>
        </div>
    </div>  
    <div class="favcuisine-header">
        <h1 >Your Favourite Cuisines</h1>
    </div>
    
    <div  class="favcuisine-container"  >
        
        <div class="favcuisine-prev-btn"  >
            <button (click)="favpreviousCard()"   ><svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 41 44" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7896 4L7 22L27.7896 40L33 35.5L17.3948 22L33 8.5L27.7896 4Z" fill="white"/>
            </svg>
            </button>
        </div>
        <div  #favcategoriesCard class="restaurant-favcuisine-container" >
            
            <div  class="restaurant-favcuisine-container-card">
                <div class="restaurant-favcuisine-container-innercard" *ngFor="let item of items">
                    <img src="{{item.img}}" alt="">
                    <div class="restaurant-favcuisine-container-title"  >
                        <h1>{{item.type}}</h1>
                     </div>
                </div>
                

             
            </div>
            
        </div>
        <div class="favcuisine-next-btn">
            <button (click)="favnextCard()"  ><svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 41 44" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2104 4L33 22L12.2104 40L7 35.5L22.6052 22L7 8.5L12.2104 4Z" fill="white"/>
            </svg></button>
        </div>
    </div>  
    <div class="restaurant-list-container">
        <h1>All Restaurants</h1>
        
            <div class="restaurant-list-merging"  >
                <ng-container *ngFor="let shops of shop; let i = index">
                <div class="restaurant-card" *ngIf="i < (isContentExpanded ? 8 : 4)" (click)="openRestaurantDetail(shops)" >
                    
                    <img src="{{shops.img}}" alt="" class="restaurant-image">
                    <div class="restaurant-card-desc">
                        <div class="restaurant-card-desc-title">
                            <h1>{{shops.name}}</h1>
                            <div class="restaurantduration">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"  /></svg>
                                <p>{{shops.estimatedtime}} mins</p>
                            </div>
                            <div class="restaurant-rating"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg> 
                            <p>{{shops.rating  | number: '1.1-1'}}</p>
                            </div>
                            
                        </div>
                        <div class="religion">
                            <p>{{shops.religion}}</p>
                        </div>
                    </div>
                    
                </div>
            </ng-container>
                <div [ngClass]="{ 'show-less': !isContentExpanded }"  class="expand-list">
                
                </div>
                 
            </div>
        
        
       
        <div class="readmore-btn">
            <button (click)="toggleContent()">
                {{ isContentExpanded ? 'View Less' : 'View More' }}</button>
        </div>
    </div>

</div>
    
</body>
</html>