<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="merge-form">
        <div class="form">
            
            <h1>My Profile</h1>
            <div class="inner-form">
                <div class="input">
                    <h3>First name:</h3>
                    <input type="text" name="" id="">
                </div>
                <div class="input">
                    <h3>Last name:</h3>
                    <input type="text" name="" id="">
                </div>
                <div class="input">
                    <h3>Mobile number:</h3>
                    <input type="text" name="" id="">
                </div>
                <div class="input">
                    <h3>Email:</h3>
                    <input type="email" name="" id="">
                </div>
                <div class="input">
                    <h3>Current password:</h3>
                    <input type="text" name="" id="">
                </div>
                <div class="input">
                    <h3>New password:</h3>
                    <input type="text" name="" id="">
                </div>
                <button>Save</button>
            </div>
            <div class="account-delete">
                <h3>You can delete your account and personal data associated with it</h3>
                <a href="">DELETE MY ACCOUNT</a>
            </div>
            
        </div>
        <img src="" alt="">
    </div>
</body>
</html>