<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="order-summary.component.css">
    <title>Document</title>
</head>
<body>
    <div class="order-summary-container">
        <div class="logo-container">
           
          <div class="help-btn">
            <button>Help</button>
          </div>
          <div class="logo">
            <img src="assets/img/orderdetail/logo3.png" alt="">
        </div>
        </div>

        <div class="est-time">
            <h1>10-20 mins</h1>
            <p>Estimated pick-up time</p>
            <div class="est-time-img">
                <div class="est-time-img-circle"></div>
                <div class="est-time-img-rec"></div>
                <img src="assets/img/orderdetail/orderdetailui.png" alt="">
            </div>
           
            <h2>Your meal is in the works, sizzling and simmering to perfection, and will be ready for you to pick up shortly!</h2>
        </div>
        <div class="order-details">
            <h1>Order Details</h1>
            <div class="order-num-container">
              <h3>Your order number:</h3>
              <div class="order-num">
                <p>#{{ order.orderId }}</p>
              </div>
            </div>
            <div class="order-place-container">
              <h3>Your order from:</h3>
              <div class="order-place">
                <p>{{ order.merchantName }}</p>
              </div>
            </div>
          </div>
          
          <div class="order-items-merge">
            <div *ngFor="let item of order.orderItems"class="order-items">
              <div class="order-desc">
                <h1 class="order-desc-qty">{{ item.quantity }} x</h1>
                <h1 class="order-desc-itemname">{{ item.foodItem.itemName }}</h1>
              </div>
              
        
                <div class="order-items-price">
                  <p>MYR {{ item.foodItem.itemPrice.toFixed(2) }}</p>
                </div>
                
              </div>
           
           </div>
           
          
          <div class="total-section">
            <div class="total-price-merge">
              <div class="subtotal">
                <div class="subtotal-header">
                  <h1>Subtotal</h1>
                </div>
                <div class="subtotal-price">
                  <!-- You may need to calculate the subtotal based on the items -->
                  <p>MYR {{ order.orderTotal.toFixed(2) }}</p>
                </div>
              </div>
              <div class="total">
                <div class="total-header">
                  <h1>Total</h1><p>(incl. VAT)</p>
                </div>
                <div class="total-price">
                  <!-- You may need to calculate the total based on the items -->
                  <p>MYR {{ order.orderTotal.toFixed(2) }}</p>
                </div>
              </div>
            </div>
          </div>
          
        <div class="payment-method">
            <h1>Paid with</h1>
            <div class="payment-method-details">
                <p class="card-detail">Card</p>
                <p class="payment-method-price">MYR {{ order.orderTotal.toFixed(2) }}</p>
            </div>
    
        </div>
    </div>
    
</body>
</html>