*{
    padding:0;
    margin:0;
}

.searchbar-img{
    position: relative;
}
.indeximage{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 800px;
    max-width: 100%;
}

.search-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Occupy the full width of the .indeximage container */
    height: 100%; /* Occupy the full height of the .indeximage container */
    color: #fff; /* Text color for the search box */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   
    
}

.search-box h1 {
    display: flex;
    width: 764px;
    height: 152px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: light;
    font-weight: 400;
    line-height: 22.4px; /* 46.667% */
    padding-left: 125px;
}

.search-box .searchbar {
    width: 534px;
    height: 88px;
    display: flex;
    border-radius: 15px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
}

.search-box input[type="text"] {
    position: relative;
    display: flex;
    flex: 1;
    width: 90%;
    height: 70%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    padding-left: 15px;
    color: #999;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
    
   
}

.searchbar .search-button {
    position: absolute;
    display: flex;
    margin-left: 400px;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.description{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.description h1{
    margin-top: 49px;
    color: #FF4500;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px; /* 112% */
    letter-spacing: 3.2px;
}

.description h2{
    color: var(--Gray-1, #333);
    margin-top: 31px;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
}

.description .desc-card{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description .desc-card img{
    
    width: 246.796px;
    height: 230px;
}


.description .desc-card .desc-cardinfo{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 27px;
}
.description .desc-card .desc-cardinfo h2{
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-top: 9px;
}

.description .desc-card .desc-cardinfo p{
    color: var(--Gray-1, #333);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
}

.food-carousel{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.food-carousel .food-carousel-desc{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    margin-top: 0px;
    
}

.food-carousel .food-carousel-header{
    color: #FF4500;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3.2px;
    margin-left: 200px;
    margin-bottom: 0px;
    
}


.food-carousel .food-carousel-desc-title{
   
    width: 80%;
    height: 100%;
    display: flex;
   margin-left: 200px;
    align-items: center;

    
}

.food-carousel .food-carousel-desc-title h1{
   
    
    color: var(--Gray-1, #333);
    font-family: Poppins;
    margin-top: 0px;
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
}

.food-carousel .food-carousel-desc .carousel-container-btn{
    width: 20%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
}

.food-carousel .food-carousel-desc .carousel-btn{
    margin: 10px;
    width: 58px;
    height: 56px;
    border-radius: 60px;
    background: var(--Gray-5, #E0E0E0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

}

.food-carousel .food-carousel-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}


.categories-box {
    height: 400px;
    padding-top: 100px;
    width: 30%;
    background-color: aliceblue;
    margin-left: 69px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.categories-box::-webkit-scrollbar {
    width: 7px;
 
  }
  
  /* Track */
  .categories-box::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--Gray-6, #F2F2F2);
  }
   
  /* Handle */
  .categories-box::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .categories-box::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  
  }

.categories-box .categories-btn{
    display: inline-flex;
    margin-top: 52px;
    padding: 21px 28px 21px 28px;
    align-items: center;
    gap: 27px;
    width: 347px;
    height: 88px;
    border-radius: 50px;
    border: none;
    justify-content: left;
    cursor: pointer;
    background-color: transparent;
    color: var(--Gray-6, #000);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 550;
}



.categories-box .categories-btn.active {
    background: #FF4500; /* Set the background color for the active button */
    color: var(--Gray-6, #F2F2F2); /* Set the text color for the active button */
  }

.categories-box  .categories-btn:hover {
    background: #FF4500;
    color: var(--Gray-6, #F2F2F2);
}


.food-carousel-container .categories-card {
    width: 70%;
    height: 100%;
    margin-left: 67px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    transition: transform 0.3s ease ;
    scroll-behavior: smooth;
    cursor: pointer;
}




.food-carousel-container  .categories-card::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.food-carousel-container .categories-innercard  {
    width: 400px;
    height: 508px;
    border-radius: 30px;
    margin-right: 40px;
    position: relative;
    
}
.food-carousel-container .categories-innercard .category-image  {
    width: 400px;
    height: 508px;
    z-index: -1;
    border-radius: 30px;
    position: absolute;
    border-radius: 30px;
   }
.food-carousel-container .categories-innercard  .categories-innercard-desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 30px 30px;
}

.food-carousel-container .categories-innercard h1{
    display: flex;
    padding-left: 39px;
    width: 299px;
    height: 72px;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 35.4px; /* 65.882% */
    margin-bottom: 37px;
    margin-top: 10px;
}

.food-carousel-container .categories-innercard button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 34px;
    margin-left: 39px;
    background-color: transparent;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 124.444% */
    border: none;
    margin-top: 30px;
    margin-bottom: 19px;


}



.food-carousel-container .categories-innercard .categories-innercard-pricing{
    width: 30%;
    height: 30px;
    display: flex;
    align-items: center;
  
}

.food-carousel-container .categories-innercard .categories-innercard-pricing h1{
    margin: 0;
    color: var(--Yellow, #F2C94C);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px; /* 93.333% */
    margin-right: 10px;
}

.food-carousel-container .categories-innercard .categories-innercard-pricing h2{
   
    color: #FFF;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
}

.faq{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.faq .faq-container{
    margin-left: 89px;
    margin-right: 79px;
    width: 80%;
    height: 100%;
}
.faq .faq-container h1{
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */
}

.faq .faq-container h2{
    margin-top: 26px;
    margin-bottom: 20px;
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 166.667% */
}

.show-less {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }
  

.faq .faq-container p{
    color: var(--Gray-1, #333);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 129.167% */
    margin-bottom: 40px;
}

.faq .readmore-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.faq .readmore-btn{
    display: flex;
    width: 80%;
    height: 64px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #333;
    cursor: pointer;
    align-content: center;
    color: #333;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px; /* 93.333% */
   

}

